# Dallas Police response Project Python Script

In [1]:
import requests as re
import pandas as pd

# Data from an API

In [2]:
# signup and get the token from the website - https://dev.socrata.com/foundry/www.dallasopendata.com/46zb-7qgj

apptoken = "YA1VXqhc2p2D9l0xhrn8b8Zs4"
url = 'https://www.dallasopendata.com/resource/46zb-7qgj.json?$$app_token=YA1VXqhc2p2D9l0xhrn8b8Zs4&$limit=3000'

In [3]:
# read the url in a json format

response = re.get(url).json()
response[0]

{'objectid': '1884',
 'zip': '75229',
 'filenum': 'UF2019-1170',
 'uofnum': '59438',
 'occurred_d': '2019-07-22T00:00:00.000',
 'occurred_t': '2:30 PM',
 'current_ba': '8521',
 'offsex': 'Male',
 'offrace': 'White',
 'hire_dt': '2004-06-04T00:00:00.000',
 'off_injure': 'false',
 'offcondtyp': 'No injuries noted or visible',
 'off_hospit': 'false',
 'service_ty': 'Arrest',
 'forcetype': 'Foot Pursuit',
 'uof_reason': 'Other',
 'cycles_num': 'NULL',
 'forceeffec': 'Yes',
 'street_n': '2930',
 'street': 'Forest',
 'street_g': 'NULL',
 'street_t': 'Ln.',
 'address': '2930 Forest Ln.',
 'citnum': '59429',
 'citrace': 'Hispanic',
 'citsex': 'Male',
 'cit_injure': 'false',
 'citcondtyp': 'No injuries noted or visible',
 'cit_arrest': 'true',
 'cit_infl_a': 'None detected',
 'citcharget': 'Assault/FV, Evading Arrest',
 'council_district': 'D13',
 'ra': '4550',
 'beat': '553',
 'sector': '550',
 'division': 'NORTHWEST',
 'x': '2465717.798',
 'y': '7017609.342'}

In [30]:
# convert json into pandas dataframe

df= pd.DataFrame(response)
df.head(5)

,objectid,zip,filenum,uofnum,occurred_d,occurred_t,current_ba,offsex,offrace,hire_dt,...,council_district,ra,beat,sector,division,x,y,geocoded_column,:@computed_region_sjyw_rtbm,:@computed_region_2f7u_b5gs
0,1884,75229,UF2019-1170,59438,2019-07-22T00:00:00.000,2:30 PM,8521,Male,White,2004-06-04T00:00:00.000,...,D13,4550,553,550,NORTHWEST,2465717.798,7017609.342,NaN,NaN,NaN
1,1624,75227,UF2019-1006,58553,2019-06-22T00:00:00.000,5:22 PM,11549,Male,White,2018-07-25T00:00:00.000,...,D7,1238,323,320,SOUTHEAST,2535892.833,6965300.495,"{'type': 'Point', 'coordinates': [-96.653959, ...",7,3
2,1092,75217,UF2019-0706,57759,2019-05-23T00:00:00.000,1:30 AM,10038,Male,Black,2009-11-11T00:00:00.000,...,D5,2200,336,330,SOUTHEAST,2524507.847,6952246.131,"{'type': 'Point', 'coordinates': [-96.691842, ...",5,3
3,1158,75215,UF2019-0741,55463,2019-02-21T00:00:00.000,3:00 PM,8090,Female,Black,2001-09-19T00:00:00.000,...,D2,2123,151,150,CENTRAL,2492356.583,6966513.775,"{'type': 'Point', 'coordinates': [-96.79509200...",2,3
4,42,75241,UF2019-0026,54270,2019-01-01T00:00:00.000,7:10 PM,11281,Male,Other,2017-02-22T00:00:00.000,...,D8,4326,735,730,SOUTH CENTRAL,2498243.117,6937364.104,"{'type': 'Point', 'coordinates': [-96.777632, ...",8,3

In [5]:
#get the number of rows and columns

df.shape

(2944, 41)

In [36]:
# renaming column

df.rename(columns = {'geocoded_column':'geolocation'},inplace=True)

In [37]:
df.head()

,objectid,zip,filenum,uofnum,occurred_d,occurred_t,current_ba,offsex,offrace,hire_dt,...,council_district,ra,beat,sector,division,x,y,geolocation,:@computed_region_sjyw_rtbm,:@computed_region_2f7u_b5gs
0,1884,75229,UF2019-1170,59438,2019-07-22T00:00:00.000,2:30 PM,8521,Male,White,2004-06-04T00:00:00.000,...,D13,4550,553,550,NORTHWEST,2465717.798,7017609.342,NaN,NaN,NaN
1,1624,75227,UF2019-1006,58553,2019-06-22T00:00:00.000,5:22 PM,11549,Male,White,2018-07-25T00:00:00.000,...,D7,1238,323,320,SOUTHEAST,2535892.833,6965300.495,"{'type': 'Point', 'coordinates': [-96.653959, ...",7,3
2,1092,75217,UF2019-0706,57759,2019-05-23T00:00:00.000,1:30 AM,10038,Male,Black,2009-11-11T00:00:00.000,...,D5,2200,336,330,SOUTHEAST,2524507.847,6952246.131,"{'type': 'Point', 'coordinates': [-96.691842, ...",5,3
3,1158,75215,UF2019-0741,55463,2019-02-21T00:00:00.000,3:00 PM,8090,Female,Black,2001-09-19T00:00:00.000,...,D2,2123,151,150,CENTRAL,2492356.583,6966513.775,"{'type': 'Point', 'coordinates': [-96.79509200...",2,3
4,42,75241,UF2019-0026,54270,2019-01-01T00:00:00.000,7:10 PM,11281,Male,Other,2017-02-22T00:00:00.000,...,D8,4326,735,730,SOUTH CENTRAL,2498243.117,6937364.104,"{'type': 'Point', 'coordinates': [-96.777632, ...",8,3

# Reading Data from a CSV

In [31]:
#reading csv file

Dallasdata = pd.read_csv('https://raw.githubusercontent.com/aaroncfo/sql/main/combined_data_set_2016_2019.csv')
Dallasdata.head()

,Unnamed: 0,OBJECTID,FILENUM,UOFNum,OCCURRED_D,OCCURRED_T,OffSex,OffRace,HIRE_DT,OFF_INJURE,...,CIT_ARREST,CIT_INFL_A,CitChargeT,RA,BEAT,SECTOR,DIVISION,X,Y,GeoLocation
0,0,609.0,UF2016-1185,37702,09/03/2016,4:14:00 AM,Male,Black,05/07/2014,No,...,Yes,Mentally unstable,APOWW,2062,134,130,CENTRAL,NaN,NaN,"211 N ERVAY ST\nDallas, TX\n(32.782205, -96.79..."
1,1,1705.0,UF2016-0418,33413,03/22/2016,11:00:00 PM,Male,White,01/08/1999,Yes,...,Yes,Mentally unstable,APOWW,1197,237,230,NORTHEAST,NaN,NaN,"7647 FERGUSON RD\nDallas, TX\n(32.798978, -96...."
2,2,1239.0,UF2016-0616,34567,05/22/2016,1:29:00 PM,Male,Black,05/20/2015,No,...,Yes,Unknown,APOWW,4153,432,430,SOUTHWEST,NaN,NaN,"716 BIMEBELLA LN\nDallas, TX\n(32.73971, -96.9..."
3,3,2320.0,UF2016-1349,31460,01/10/2016,8:55:00 PM,Male,Black,07/29/1991,No,...,Yes,FD-Unknown if Armed,Evading Arrest,4523,641,640,NORTH CENTRAL,NaN,NaN,"5600 L B J FWY\nDallas, TX"
4,4,221.0,UF2016-1303,"37879, 37898",11/08/2016,2:30:00 AM,Male,White,10/04/2009,No,...,Yes,Unknown,Other Misdemeanor Arrest,2167,346,340,SOUTHEAST,NaN,NaN,"4600 S MALCOLM X BLVD\nDallas, TX"

In [12]:
# data type

Dallasdata.dtypes

Unnamed: 0       int64
OBJECTID       float64
FILENUM         object
UOFNum          object
OCCURRED_D      object
OCCURRED_T      object
OffSex          object
OffRace         object
HIRE_DT         object
OFF_INJURE      object
OffCondTyp      object
OFF_HOSPIT      object
SERVICE_TY      object
ForceType       object
UOF_REASON      object
Cycles_Num      object
ForceEffec      object
STREET_N         int64
STREET          object
street_g        object
street_t        object
Address         object
CitNum          object
CitRace         object
CitSex          object
CIT_INJURE      object
CitCondTyp      object
CIT_ARREST      object
CIT_INFL_A      object
CitChargeT      object
RA              object
BEAT            object
SECTOR          object
DIVISION        object
X              float64
Y              float64
GeoLocation     object
dtype: object

In [13]:
#creating a column called year extracting just the year from the date column 


Dallasdata['year'] = pd.DatetimeIndex(Dallasdata['OCCURRED_D']).year

In [33]:
Dallasdata.head()

,Unnamed: 0,OBJECTID,FILENUM,UOFNum,OCCURRED_D,OCCURRED_T,OffSex,OffRace,HIRE_DT,OFF_INJURE,...,CIT_ARREST,CIT_INFL_A,CitChargeT,RA,BEAT,SECTOR,DIVISION,X,Y,GeoLocation
0,0,609.0,UF2016-1185,37702,09/03/2016,4:14:00 AM,Male,Black,05/07/2014,No,...,Yes,Mentally unstable,APOWW,2062,134,130,CENTRAL,NaN,NaN,"211 N ERVAY ST\nDallas, TX\n(32.782205, -96.79..."
1,1,1705.0,UF2016-0418,33413,03/22/2016,11:00:00 PM,Male,White,01/08/1999,Yes,...,Yes,Mentally unstable,APOWW,1197,237,230,NORTHEAST,NaN,NaN,"7647 FERGUSON RD\nDallas, TX\n(32.798978, -96...."
2,2,1239.0,UF2016-0616,34567,05/22/2016,1:29:00 PM,Male,Black,05/20/2015,No,...,Yes,Unknown,APOWW,4153,432,430,SOUTHWEST,NaN,NaN,"716 BIMEBELLA LN\nDallas, TX\n(32.73971, -96.9..."
3,3,2320.0,UF2016-1349,31460,01/10/2016,8:55:00 PM,Male,Black,07/29/1991,No,...,Yes,FD-Unknown if Armed,Evading Arrest,4523,641,640,NORTH CENTRAL,NaN,NaN,"5600 L B J FWY\nDallas, TX"
4,4,221.0,UF2016-1303,"37879, 37898",11/08/2016,2:30:00 AM,Male,White,10/04/2009,No,...,Yes,Unknown,Other Misdemeanor Arrest,2167,346,340,SOUTHEAST,NaN,NaN,"4600 S MALCOLM X BLVD\nDallas, TX"

In [15]:
# filtering out the 2019 data  

Dallasdata2 = Dallasdata[Dallasdata['year'] != 2019]

In [34]:
Dallasdata2.head()

,objectid,filenum,uofnum,occurred_d,occurred_t,offsex,offrace,hire_dt,off_injure,offcondtyp,...,cit_arrest,cit_infl_a,citcharget,ra,beat,sector,division,x,y,geolocation
0,609.0,UF2016-1185,37702,09/03/2016,4:14:00 AM,Male,Black,05/07/2014,No,No injuries noted or visible,...,Yes,Mentally unstable,APOWW,2062,134,130,CENTRAL,NaN,NaN,"211 N ERVAY ST\nDallas, TX\n(32.782205, -96.79..."
1,1705.0,UF2016-0418,33413,03/22/2016,11:00:00 PM,Male,White,01/08/1999,Yes,Sprain/Strain,...,Yes,Mentally unstable,APOWW,1197,237,230,NORTHEAST,NaN,NaN,"7647 FERGUSON RD\nDallas, TX\n(32.798978, -96...."
2,1239.0,UF2016-0616,34567,05/22/2016,1:29:00 PM,Male,Black,05/20/2015,No,No injuries noted or visible,...,Yes,Unknown,APOWW,4153,432,430,SOUTHWEST,NaN,NaN,"716 BIMEBELLA LN\nDallas, TX\n(32.73971, -96.9..."
3,2320.0,UF2016-1349,31460,01/10/2016,8:55:00 PM,Male,Black,07/29/1991,No,No injuries noted or visible,...,Yes,FD-Unknown if Armed,Evading Arrest,4523,641,640,NORTH CENTRAL,NaN,NaN,"5600 L B J FWY\nDallas, TX"
4,221.0,UF2016-1303,"37879, 37898",11/08/2016,2:30:00 AM,Male,White,10/04/2009,No,No injuries noted or visible,...,Yes,Unknown,Other Misdemeanor Arrest,2167,346,340,SOUTHEAST,NaN,NaN,"4600 S MALCOLM X BLVD\nDallas, TX"

In [17]:
# checking if all the year 2019 data are filterd out 
Dallasdata2['year'].unique()

array([2016, 2017, 2018], dtype=int64)

In [18]:
# Dropping the year column 

Dallasdata2.drop('year', inplace=True, axis =1)

C:\Users\ezzy\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [19]:
# Reading all the columns in the data
columns = Dallasdata2.columns
columns

Index(['Unnamed: 0', 'OBJECTID', 'FILENUM', 'UOFNum', 'OCCURRED_D',
       'OCCURRED_T', 'OffSex', 'OffRace', 'HIRE_DT', 'OFF_INJURE',
       'OffCondTyp', 'OFF_HOSPIT', 'SERVICE_TY', 'ForceType', 'UOF_REASON',
       'Cycles_Num', 'ForceEffec', 'STREET_N', 'STREET', 'street_g',
       'street_t', 'Address', 'CitNum', 'CitRace', 'CitSex', 'CIT_INJURE',
       'CitCondTyp', 'CIT_ARREST', 'CIT_INFL_A', 'CitChargeT', 'RA', 'BEAT',
       'SECTOR', 'DIVISION', 'X', 'Y', 'GeoLocation'],
      dtype='object')

In [20]:
# dropping the "Unnamed: 0" column because it doesnt exist in the data we got from the API, that way we wont have any problems when we try to join the two data

Dallasdata2.drop('Unnamed: 0', inplace=True, axis =1)

In [21]:
# making all the columns of the data we got from API lower case
df.columns =[x.lower() for x in df.columns]

In [22]:
# making all the columns of the data we got from CSV lower case
Dallasdata2.columns =[x.lower() for x in Dallasdata2.columns]

In [23]:
# checking to see if its converted to lower case
columns = Dallasdata2.columns
columns

Index(['objectid', 'filenum', 'uofnum', 'occurred_d', 'occurred_t', 'offsex',
       'offrace', 'hire_dt', 'off_injure', 'offcondtyp', 'off_hospit',
       'service_ty', 'forcetype', 'uof_reason', 'cycles_num', 'forceeffec',
       'street_n', 'street', 'street_g', 'street_t', 'address', 'citnum',
       'citrace', 'citsex', 'cit_injure', 'citcondtyp', 'cit_arrest',
       'cit_infl_a', 'citcharget', 'ra', 'beat', 'sector', 'division', 'x',
       'y', 'geolocation'],
      dtype='object')

In [24]:
# checking to see if its converted to lower case
columns2 = df.columns
columns2

Index(['objectid', 'zip', 'filenum', 'uofnum', 'occurred_d', 'occurred_t',
       'current_ba', 'offsex', 'offrace', 'hire_dt', 'off_injure',
       'offcondtyp', 'off_hospit', 'service_ty', 'forcetype', 'uof_reason',
       'cycles_num', 'forceeffec', 'street_n', 'street', 'street_g',
       'street_t', 'address', 'citnum', 'citrace', 'citsex', 'cit_injure',
       'citcondtyp', 'cit_arrest', 'cit_infl_a', 'citcharget',
       'council_district', 'ra', 'beat', 'sector', 'division', 'x', 'y',
       'geolocation', ':@computed_region_sjyw_rtbm',
       ':@computed_region_2f7u_b5gs'],
      dtype='object')

In [38]:
# creating a copy of the API data with the same column order of the CSV data 
df2 = df[columns]
df2.head()

,objectid,filenum,uofnum,occurred_d,occurred_t,offsex,offrace,hire_dt,off_injure,offcondtyp,...,cit_arrest,cit_infl_a,citcharget,ra,beat,sector,division,x,y,geolocation
0,1884,UF2019-1170,59438,2019-07-22T00:00:00.000,2:30 PM,Male,White,2004-06-04T00:00:00.000,false,No injuries noted or visible,...,true,None detected,"Assault/FV, Evading Arrest",4550,553,550,NORTHWEST,2465717.798,7017609.342,NaN
1,1624,UF2019-1006,58553,2019-06-22T00:00:00.000,5:22 PM,Male,White,2018-07-25T00:00:00.000,false,No injuries noted or visible,...,true,Agitated,Assault,1238,323,320,SOUTHEAST,2535892.833,6965300.495,"{'type': 'Point', 'coordinates': [-96.653959, ..."
2,1092,UF2019-0706,57759,2019-05-23T00:00:00.000,1:30 AM,Male,Black,2009-11-11T00:00:00.000,false,No injuries noted or visible,...,true,Unknown,Evading Arrest,2200,336,330,SOUTHEAST,2524507.847,6952246.131,"{'type': 'Point', 'coordinates': [-96.691842, ..."
3,1158,UF2019-0741,55463,2019-02-21T00:00:00.000,3:00 PM,Female,Black,2001-09-19T00:00:00.000,false,No injuries noted or visible,...,true,NULL,APOWW,2123,151,150,CENTRAL,2492356.583,6966513.775,"{'type': 'Point', 'coordinates': [-96.79509200..."
4,42,UF2019-0026,54270,2019-01-01T00:00:00.000,7:10 PM,Male,Other,2017-02-22T00:00:00.000,false,No injuries noted or visible,...,true,None detected,Other Misdemeanor Arrest,4326,735,730,SOUTH CENTRAL,2498243.117,6937364.104,"{'type': 'Point', 'coordinates': [-96.777632, ..."

# Concating API data and CSV data

In [39]:
# Creating the final dataset by concating the API and CSV data

final= pd.concat([Dallasdata2,df2], ignore_index=True)
final.head()

,objectid,filenum,uofnum,occurred_d,occurred_t,offsex,offrace,hire_dt,off_injure,offcondtyp,...,cit_arrest,cit_infl_a,citcharget,ra,beat,sector,division,x,y,geolocation
0,609,UF2016-1185,37702,09/03/2016,4:14:00 AM,Male,Black,05/07/2014,No,No injuries noted or visible,...,Yes,Mentally unstable,APOWW,2062,134,130,CENTRAL,NaN,NaN,"211 N ERVAY ST\nDallas, TX\n(32.782205, -96.79..."
1,1705,UF2016-0418,33413,03/22/2016,11:00:00 PM,Male,White,01/08/1999,Yes,Sprain/Strain,...,Yes,Mentally unstable,APOWW,1197,237,230,NORTHEAST,NaN,NaN,"7647 FERGUSON RD\nDallas, TX\n(32.798978, -96...."
2,1239,UF2016-0616,34567,05/22/2016,1:29:00 PM,Male,Black,05/20/2015,No,No injuries noted or visible,...,Yes,Unknown,APOWW,4153,432,430,SOUTHWEST,NaN,NaN,"716 BIMEBELLA LN\nDallas, TX\n(32.73971, -96.9..."
3,2320,UF2016-1349,31460,01/10/2016,8:55:00 PM,Male,Black,07/29/1991,No,No injuries noted or visible,...,Yes,FD-Unknown if Armed,Evading Arrest,4523,641,640,NORTH CENTRAL,NaN,NaN,"5600 L B J FWY\nDallas, TX"
4,221,UF2016-1303,"37879, 37898",11/08/2016,2:30:00 AM,Male,White,10/04/2009,No,No injuries noted or visible,...,Yes,Unknown,Other Misdemeanor Arrest,2167,346,340,SOUTHEAST,NaN,NaN,"4600 S MALCOLM X BLVD\nDallas, TX"

In [29]:
# concerting the concated dataframe into a CSV file

final.to_csv('C:\Colaberry Data Science\Dallas Police Response Data 2.csv')